<!-- Cabeçalho -->
<header class="header">
        
    <!-- Logo -->
    <a href="index.html" class="logo"><h1>Yupix</h1></a>
    
    <!-- Barra de navegação -->
    <nav class="nav">
        <ul>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="servicos.html">Serviços</a></li>
            <li><a href="contato.html">Contato</a></li>
            <i class="far fa-user"></i>
            <li><a href="login.html">Entrar</a></li>
            <li><a href="register.html">Cadastrar</a></li>
        </ul>
    </nav>
    
</header>
<!-- Fim Cabeçalho -->