{% load static %}
<!-- Navegação Lateral -->
<nav class="sidenav">
    <ul>
        
        <li class="side_logo">
            <a href="{% url "usuarios:index" %}"><i><img src="{% static "global/img/yupix_logo.png" %}" alt=""></i><span>Yupix</span></a>
        </li>
        
        <!-- Ícones -->
        <li>
            <a href="{% url "usuarios:services" %}"><i class="fas fa-th-large" style="color: #ffd700"></i><span>Serviços</span></a>
        </li>
        <li>
            <a href="{% url "usuarios:contato" %}"><i class="far fa-comments" style="color: #ffd700"></i><span>Comentários</span></a>
        </li>
        <li>
            <a href="{% url "usuarios:contato" %}"><i class="far fa-question-circle" style="color: #ffd700"></i><span>Suporte</span></a>
        </li>
        <li>
            <a href="{% url "usuarios:contato" %}"><i class="fas fa-star-half-alt" style="color: #ffd700"></i><span>Avalie-nos</span></a>
        </li>
    </ul>
</nav>
<!-- Fim Navegação Lateral -->