{% load static %}
<div class="bem_vindo">
    <div>
        <div>
            <h2>{{header}}</h2>
            <p>{{descripition}}</p>
        </div>
        <div class="botoes_painel">
             <a href="https://play.google.com"><img src="{% static "global/img/google_play.svg" %}"></a>
            <a href="https://apps.apple.com/br"><img src="{% static "global/img/app_store.svg" %}"></a>
        </div>
    </div>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_O4XxP-AbYs?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</div>