{% extends "global/base.html" %}
{% load static %}

{% block content %}
    <!-- Conteúdo Principal -->
    <main class="content">
        
        <!-- Ínicio -->
        <div class="bem_vindo">
            <div>
                <div>
                    <h2>Yupix Brasil</h2>
                    <p>Seja bem-vindo ao site da maior empresa de serviços terceirizados no mercado!</p>
                </div>
                <div class="botoes_painel">
                     <a href="https://play.google.com"><img src="{% static "global\img\google_play.svg" %}"></a>
                    <a href="https://apps.apple.com"><img src="{% static "global\img\app_store.svg" %}"></a>
                </div>
            </div>
            
            <iframe width="560" height="315" src="https://www.youtube.com" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
        </div>
        <!-- Fim Ínicio -->
        
        <!-- Conheça-nos -->
        <div class="conheca_nos">
            <img src="{% static "global/img/woker.png" %}" alt="Quem somos">
            <div>
                <h3>Conheça-nos</h3>
                <p>Conheça um pouco sobre a nossa empresa, a história da Yupix e seus parceiros mais próximos.</p>
                <a href="sobre.html">Saiba mais<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <!-- Fim Conheça-nos-->
        
        <!-- Como funciona -->
        <div class="como_funciona bg_roxo">
            <img src="{% static "global/img/phone.jpg" %}">
            <div>
                <h3 style="color: #fff;">Como funciona</h3>
                <p>Saiba como utilizar os serviços que a Yupix proporciona de forma rápida e prática, esclareça todas as suas dúvidas sobre o aplicativo e a plataforma.</p>
                <a style="color: #fff;" href="sobre.html">Saiba mais<i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <!-- Fim Como Funciona -->
        
        <!-- Serviços -->
        <div class="servicos">
            <div class="mesclar">
                <h3>Serviços para você</h3>
                <p>Conheço abaixo os tipos de serviços que a Uber oferece para seus usuários!</p>
                <a href="servicos.html">Saiba mais<i class="fas fa-angle-right"></i></a>
            </div>

            <div class="categorias">
                <img src="{% static "global/img/categorias.png" %}" alt="Categorias">
                <h4>Categorias</h4>
                <p>Um profissional para cada necessidade, descubra qual o tipo de serviço que melhor se encaixa a suas necessidades e ao seu bolso.</p>
            </div>

            <div class="mobile">
                <img src="{% static "global/img/mobile_yupix.png" %}">
                <h4>Mobile</h4>
                <p>Baixe agora o nosso aplicativo em seu smartphone Android ou IOs, é rápido e fácil.</p>
            </div>
        </div>
        <!-- Fim Serviços -->
        
        
        <div class="botoes">
            <a href="register.html" class="botao_cadastro">
                <span>Cadastre-se como cliente</span>
                <i class="fas fa-arrow-right"></i>
            </a>
            <a href="register_servidor.html" class="botao_cadastro">
                <span>Cadastre-se como prestador de serviços</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
        
    </main>
    <!-- Fim Conteúdo Principal -->
{% endblock content %}