{% extends "global/base_profile.html" %}
{% load static %}

{% block content %}

    <div class="conheca_nos">
        <ul class="">
            
            <div class="content">
            <li><h2>{{user_profile.first_name}} {{user_profile.last_name}}</h2></li>
            <li><p>Seu perfil de usuário:</p></li>
            </div>

            <br>

            <li class><b>Nome Completo</b>: {{user_profile.first_name}} {{user_profile.last_name}}</li><br>
            <li class><b>Data de nascimento</b>: {{user_profile.birth_date}} </li><br>
            <li class><b>CPF</b>: {{user_profile.cpf}} </li><br>
            <li class><b>Endereço</b>: {{user_profile.address}} </li><br>
            <li class><b>Cidade</b>: {{user_profile.city}} </li><br>
            <li class><b>Estado</b>: {{user_profile.state}} </li><br>
            <li class><b>CEP</b>: {{user_profile.zip_code}} </li><br>
            <li class><b>E-mail</b>: {{user_profile.email}} </li><br>
            <li class><b>Telefone</b>: {{user_profile.phone}} </li><br>
            <li><a class="form_botao" href="{% url "usuarios:logout" %}">logout</a><li>
        </ul>
    </div> 
{% endblock %}